.profile-pictures {
  img {
    width: 150px;
    height: 150px;
  }
}

.label {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;

  li {
    display: inline-block;
    padding: 10px 20px;
    cursor: grab;
  }

  li:active {
    opacity: 0.4;
  }

  li.ghost {
    filter: grayscale(1);
    opacity: 0.2;
  }
}

.element-tag {
  border: 1px solid black;
  font-size: 16px;
  padding: 10px 20px;
  background-color: white;
  width: 323px;
  margin-bottom: 10px;
}
