// Specific CSS for your home-page
.logo-home {
  width: 120px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.wrapper {
  text-align: center;
  align-items: center;
}

.sign-in-link {
  color: black;
}

// .swipe {
//   overflow: hidden;
//   visibility: hidden;
//   position: relative;
// }
// .swipe-wrap {
//   overflow: hidden;
//   position: relative;
// }
// .swipe-wrap > div {
//   float: left;
//   width: 100%;
//   position: relative;
//   overflow: hidden;
// }

.swipe-wrap {
  position: relative;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
  }
  50% {
    -webkit-transform: scale(0.95);
    opacity: 1.0;
  }
  to {
    -webkit-transform: scale(1.0);
  }
}

img.pulse {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: 500;
}
