.txt-pink {
  color: $pink;
}


.avatar-match {
  width: 140px;
  height: 140px;
  // box-shadow: 2px 2px 0px black;
  object-fit: cover;
  border: 2px solid $pink;
  position: relative;
  border-radius: 50%;

}

.sign-match{
  position: absolute;
  right: 5%;
  bottom: -10%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-size: cover;
  background-color: $pink;
  border: 1px solid $pink;
}

.compatibility-description {
  background-color: white;
  padding: 10px;
  border: 0.5px solid black;
  margin-top: 30px
}

.button-match {
  background-color: black;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 18px;
  padding-right: 18px;
  box-shadow: 5px 5px 0 white;
  text-align: center;
  width: 80%;
  margin: 20px auto;
  align-self: center;
}

.x {
  font-size: 30px;
  opacity: 0.6;
  transform: rotateY(0.5turn);
  position: absolute;
  top: 5px;
  right: 20px;
  // border-radius: 50%;
}

.x:active {
  opacity: 1;
}



.pink-btn {
  margin-right: 0;
  background: $pink;
  border: 1px solid #d2bbc4 !important;
  font-size: 16px;
  color: #6b5f63;
  padding: 10px 8px;
  border-radius: 20px !important;
  box-shadow: 1px 3px 0px $pink;
  margin: 0 5px 10px;
}

.pink-btn:hover {
  cursor: pointer;
}

.pink-btn:active {
  background-color: $pink;
  box-shadow: 1px 3px 0px #6b5f63;
  color: #6b5f63;
  text-decoration: none;
}

.pink-btn:first-of-type {
  border-radius: 4px 0 0 4px;
}

.pink-btn:last-of-type {
  border-radius: 0 4px 4px 0;
}


// body {
//   background:purple;
//   font-family:Trebuchet MS;
//   text-align:center;
//   color:#fff;
// }
// #starAnimation svg {
//   width:3%;
//   position:absolute;
//   left:48%;
//   display:none;
// }

.pink-button {
  background-color: $pink;
  color: #6b5f63;
  padding: 10px 20px;
  box-shadow: 3px 3px 0 #bf99a8 ;
  text-align: center;
  margin: 10px auto;
  align-self: center;
}
