<div class="row min-vh-100 align-items-center">
  <div class="col d-flex flex-column align-items-center">
    <h1 class="mb-4 mt-3">Cosmeet</h1>
    <p class="mb-4">Planets align for you</p>
    <%= image_tag "logo.png", class: "logo-home" %>
    <div class="button mb-3">Sign Up</div>
    <p>Already a user? Sign In</p>

  </div>
</div>
