<h4 class="py-3 text-center">What traits do you look for in a partner?</h4>
<h6 class="py-3 text-center"><strong>Drag and drop</strong> to rank your preferences from top to bottom:</h6>

<ul class="list-inline text-center">
  <li id="fire" class="element-tag"><i class="fab fa-gripfire"></i> Independent, Enthousiatic, Active</li>
  <li id="earth" class="element-tag"><i class="fas fa-seedling"></i> Trustworthy, Purposefull, Secure</li>
  <li id="air" class="element-tag"><i class="fas fa-wind"></i> Communicative, Social, Creative</li>
  <li id="water" class="element-tag"><i class="fas fa-tint"></i> Sensitive, Romantic, Caring</li>
</ul>


<%= simple_form_for(current_user, url: profiles_element_rankings_path) do |f| %>
  <%= f.input  :element_ranking, required: true, as: :hidden %>
  <div class=" d-flex justify-content-center">
      <%= f.submit 'Continue', class:'button mt-2' %>
  </div>
<% end %>


