.card {
  height: calc(100vh - 70px - 75px);
}

.c {
  padding: 15px;
  margin-top: 30px;
  border: 1px solid black;
}

.c img {
  width: 100%;
  object-fit: cover;
  box-shadow: 7px 7px 0px black;
}

.c .top-sec {
  margin-top: -40px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.bottom-sec {
  h4 {
    font-family: $font-family;
  }
  p {
    font-family: $font-family;
  }
}

.biography-index {
  text-align: justify;
}
