.perso-traits {
  margin-right: 5px;
  background: #efe6e9;
  border: 1px solid #d2bbc4 !important;
  font-size: 14px;
  color: #6b5f63;
  padding: 4px 8px;
  border-radius: 20px !important;
  box-shadow: 1px 3px 0px #d2bbc4;
  margin-bottom: 10px;
}

.profile-card {
  background-color: white;
  position: relative;
}

.c {
  padding: 15px;
  margin-top: 25px;
  border: 1px solid black;
  margin-bottom:20px;
  min-height: 75vh;
}

.top-sec img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  box-shadow: 7px 7px 0px black;
  border: 1px solid black;
  position: relative;

}

.c .top-sec {
  margin-top: -40px;
  margin-bottom: 15px;
  margin-right: 10px;
  position: relative;
}

.bottom-sec {
  h4 {
    font-family: $font-family;
  }
  p {
    font-family: $body-font;
    font-size: 16px;
    margin-top: 15px;
    color: #4e3941;
  }
}

.biography-index {
  text-align: justify;
}

.c .sign-sec {
  position: absolute;
  right: 5%;
  bottom: -10%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-profile-card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


