.card {
  height: calc(100vh - 70px - 75px);

  position: relative;
}

.profile-card {
  background-color: white;
  position: relative;
}

.c {
  padding: 15px;
  margin-top: 30px;
  border: 1px solid black;
  margin-bottom:20px;
}

.top-sec img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  box-shadow: 7px 7px 0px black;
  border: 1px solid black;
  position: relative;

}

.c .top-sec {
  margin-top: -40px;
  margin-bottom: 15px;
  margin-right: 10px;
  position: relative;
}

.bottom-sec {
  h4 {
    font-family: $font-family;
  }
  p {
    font-family: $font-family;
  }
}

.biography-index {
  text-align: justify;
}

.c .sign-sec {
  position: absolute;
  right: 5%;
  bottom: -10%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
