.footer {
  background: #E3D7DC;
  position: sticky;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  opacity: .7;
  padding-top: 3px;
  &:hover {
    opacity: 1;
  }
}

.footer-links .navbar-brand img {
  width: 30px;
}

.footer-links .heartz img {
  width: 50px;
}

.footer-links .message img {
  width: 40px;
}
