.navbar-lewagon {
  justify-content: center;
  background: $pink;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 -1px 4px rgba(0,0,0,5.2);
  margin-bottom: 10px;
  padding: 12px;
}

.navbar-chatroom {
  justify-content: center;
  background: $pink;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 -1px 4px rgba(0,0,0,5.2);
  margin-bottom: 10px;
  padding: 10px;
  a {
   color: black;
   text-decoration: none;
 }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo-navbar {
  width: 33px;
}

.burger-bttn {
  opacity: 0.5;
  margin-right: 4px;
  height: 30px;
  position: absolute;
  top: -9px;
  left: 71px;

}

.z-idx-pos {
  z-index: 10;
  left: -77px;
  top: 16px;
  font-family: $body-font;

}

.dropdown-item:hover {
  background-color: $pink;
}

.z-idx-neg {
  z-index: -1;
  position: relative;
}


