.user-sign {
  background-size: cover;
  background-color: white;
  border: 3px solid white;
}

.aquarius {
  background-image: asset-url('aquarius.png');
}

.aries {
  background-image: asset-url('aries.png');
}

.cancer {
  background-image: asset-url('cancer.png');
}

.capricorn {
  background-image: asset-url('capricorn.png');
}

.gemini {
  background-image: asset-url('gemini.png');
}

.leo {
  background-image: asset-url('leo.png');
}

.libra {
  background-image: asset-url('libra.png');
}

.pisces {
  background-image: asset-url('pisces.png');
}

.sagittarius {
  background-image: asset-url('sagittarius.png');
}

.scorpio {
  background-image: asset-url('scorpio.png');
}

.taurus {
  background-image: asset-url('taurus.png');
}

.virgo {
  background-image: asset-url('virgo.png');
}
