<h4 class="mt-4 mb-5 text-center">Select the 3 tags that better represent <strong>your</strong> priorities in life</h4>

<%= simple_form_for(current_user, url: profiles_activities_path) do |f| %>
   <div class=" my-5 d-flex flex-wrap justify-content-center personality-traits">
    <%= f.input :activities, as: :check_boxes, collection: User::ACTIVITIES, input_html: {class: "d-none"}, wrapper_html: {class: "label-activities"} %>
  </div>

   <div class="d-flex justify-content-center mt-4">
      <%= f.submit 'Continue', class:'button mt-4' %>
  </div>
<% end %>
