<h3>What are you looking for?</h3>

<%= simple_form_for(current_user, url: profiles_relationship_types_path) do |f| %>
  <%= f.input  :relationship_type, collection: ["a galatical love #veryserious", "a celestial Big Bang #friendswithbenefits", "Explore the unknown #justcurious"], class:'button', as: :radio_buttons %>
  <%= f.submit 'Continue', class:'button' %>
<% end %>


